<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @destroyed_applicant.id %>
</p>

<p>
  <b>Income:</b>
  <%= @destroyed_applicant.income %>
</p>

<p>
  <b>Itr:</b>
  <%= @destroyed_applicant.itr %>
</p>

<p>
  <b>Electricity:</b>
  <%= @destroyed_applicant.electricity %>
</p>

<p>
  <b>Admission:</b>
  <%= @destroyed_applicant.admission %>
</p>

<p>
  <b>Picture:</b>
  <%= @destroyed_applicant.picture %>
</p>

<p>
  <b>Sname:</b>
  <%= @destroyed_applicant.sName %>
</p>

<p>
  <b>Fname:</b>
  <%= @destroyed_applicant.fName %>
</p>

<p>
  <b>Mname:</b>
  <%= @destroyed_applicant.mName %>
</p>

<p>
  <b>Snum:</b>
  <%= @destroyed_applicant.sNum %>
</p>

<p>
  <b>Sex:</b>
  <%= @destroyed_applicant.sex %>
</p>

<p>
  <b>Course:</b>
  <%= @destroyed_applicant.course %>
</p>

<p>
  <b>College:</b>
  <%= @destroyed_applicant.college %>
</p>

<p>
  <b>Address:</b>
  <%= @destroyed_applicant.address %>
</p>

<p>
  <b>Pemail:</b>
  <%= @destroyed_applicant.pEmail %>
</p>

<p>
  <b>Pnum:</b>
  <%= @destroyed_applicant.pNum %>
</p>

<p>
  <b>Pareacode:</b>
  <%= @destroyed_applicant.pAreaCode %>
</p>

<p>
  <b>Pcell:</b>
  <%= @destroyed_applicant.pCell %>
</p>

<p>
  <b>Rank1:</b>
  <%= @destroyed_applicant.rank1 %>
</p>

<p>
  <b>Rank2:</b>
  <%= @destroyed_applicant.rank2 %>
</p>

<p>
  <b>Rank3:</b>
  <%= @destroyed_applicant.rank3 %>
</p>

<p>
  <b>Rank4:</b>
  <%= @destroyed_applicant.rank4 %>
</p>

<p>
  <b>Rank5:</b>
  <%= @destroyed_applicant.rank5 %>
</p>

<p>
  <b>Rank6:</b>
  <%= @destroyed_applicant.rank6 %>
</p>

<p>
  <b>Created at:</b>
  <%= @destroyed_applicant.created_at %>
</p>

<p>
  <b>Updated at:</b>
  <%= @destroyed_applicant.updated_at %>
</p>

<p>
  <b>Provincename:</b>
  <%= @destroyed_applicant.provinceName %>
</p>


<%= link_to 'Edit', edit_destroyed_applicant_path(@destroyed_applicant) %> |
<%= link_to 'Back', destroyed_applicants_path %>
